.wrapper{
    width: 60%;
    margin: 0 auto;
    border: 5px solid #ddd;
}

.first, .last, .email, .birth{
    width: 90%;
    height: 25px;
    padding: auto;
    font-size: 18px;
    
}

table{
    width: 100%;
    
}

th, td{
    font-size: 20px;
    text-align: center;
    border: 1px solid;
}
